# Debug Configuration
DEBUG=True

# Database Configuration
SQLALCHEMY_DB_URL="sqlite:///dev.db"
# Para PostgreSQL, usar:
#SQLALCHEMY_DB_URL="postgresql+psycopg://<user>:<password>@<host>:<port>/<database>"

# Microservices Base URLs
ACCOUNT_SERVICE_URL="http://localhost:8000"   # URL base del servicio de cuentas

# API Account Endpoints
API_USER_LOGIN="/user/login"                    # Endpoint para inicio de sesión
API_USER_REGISTER="/person/register"            # Endpoint para registro de usuario
API_USER_EXISTS="/person/email/exists"          # Endpoint para verificar existencia de email
API_USER_BASIC_INFO="/person/basic_info"        # Endpoint para información básica de persona

ROOT_PATH="/api/form"  # Ruta raíz para la aplicación FastAPI